.list-item {
  display: flex;
  justify-content: space-evenly;
  height: 2em;
  align-items: center;
}

.item-name {
  color: green;
  width: 150px;
}

.item-surname {
  color: yellow;
  width: 200px;
}

.item-phone {
  color: blue;
  width: 200px;
}

button {
  background-color: violet;
  width: 50px;
  border-radius: 5px;
}
