.box {
  margin-top: 20px;
  background: rgb(245, 132, 19);
  width: 40%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.box h1 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em auto;
  height: 2em;
}

input[type="text"] {
  width: 60%;
  margin: 0.8em auto;
  height: 2em;
}

.button-container {
  display: flex;
  width: 60%;
  margin: 0.8em auto;
}

.form-button {
  width: 45%;
  margin: 0 auto;
  height: 3em;
  border-radius: 5px;
  text-align: center;
  color: white;
  border: 1.5px solid white;
  cursor: pointer;
}

.error {
  border: 2px solid red;
}

.btn-save {
  background-color: seagreen;
}

.btn-cancel {
  background-color: rgb(243, 9, 9);
}

.btn-save:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
