.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.router-link {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.page {
  text-align: center;
  font-size: 5em;
}
